### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
#*.jar
*.war
*.nar

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
